<section class="grid_12">
    <h1>Extra Help</h1>
    <h2>CollectionID</h2>
        <p>The CollectionID is the id number assigned to a specific collection by DSpace. The easiest way to find the CollectionID is this:</P>
        <ol id="collection-id">
            <li>Login to your DSpace installation</li>
            <li>Click on Communities &amp; Collections</li>
            <li>Click on the Collection you wish to upload items to</li>
            <li>Click on Edit Collection under Context in the right sidebar</li>
            <li>Look at the URL in the address bar. It should look something like <pre>
            http://<span class="change">whatever.edu</span>/admin/collection?collectionID=3</pre></li>
            <li>The collectionID is the last number in that URL, so in this case the CollectionID would be 3</li>
        </ol>
    <h2>Map File</h2>
    <p>The map file is simply a file that will keep a record of the files you add to your repository. Using this map file you can update the items added as well as delete them. The name is completely arbitrary and should be somehow unique. I would recommend putting a timestamp on your map files or some kind of unique identifier. If you try and use an existing map file for a new import, DSpace will not allow you to import your files.</p>
</section>
<div class='clear'>&nbsp;</div>
