<section class="grid_8">
<ol>
    <li>Format</li>
    <p>Format your CSV following these <a href="formatting-rules">rules</a>, then create a zip containing the csv file and corresponding archival files.</p>
    <li>Upload</li>
    <form action="/upload" method="post" enctype="multipart/form-data" >
        <p>Change collection id if necessary</p>
        <input type = "text" name="collection_id" size="3" value="<%= session[:current_user]["default_collection_id"] %>">
        <p>Upload your properly formatted CSV file.</p>
        <input type="file" name="file" />
        <input type="submit" value="Upload" />
    </form>
   </section>
<div class="grid_4">
</div>

<div class='clear'>&nbsp;</div>
