<section class="grid_8">
    <h1>Instructions</h1>
    <ol id="instructions">
        <li>Format your CSV following these <a href="formatting_rules">rules</a>.</li>
        <li>Upload CSV</li>
        <li>Unzip received zip file</li>
        <li>Move all of the unzipped files into your contents directory</li>
        <li>Run the provided script</li>
        <li>Batch import into DSpace</li>
    </ol>
</section>
<div class="grid_4">
    <img src="ru.png" alt="" />
</div>
<div class='clear'>&nbsp;</div>

<section class="grid_12">
    <h1>1. Format</h1>
</section>
<div class='clear'>&nbsp;</div>

<section class="grid_12">
    <h1>2. Upload</h1>
    <form action="/upload" method="post" enctype="multipart/form-data" >
        <input type="file" name="file" />
        <input type="submit" value="Upload" />
    </form>
</section>
<div class='clear'>&nbsp;</div>

<section class="grid_12">
    <h1>3. Unzip</h1>
</section>
<div class='clear'>&nbsp;</div>

<section class="grid_12">
    <h1>4. Move the new files</h1>
    <p>You need to move the contents of the zip file to the folder that has the files you will be adding to DSpace.</p>
</section>
<div class='clear'>&nbsp;</div>

<section class="grid_12">
    <h1>5. Run the Provided Script</h1>
    <p>Now run the script that came with your zip file, dspace_hierarchy.rb</p>
    <pre>
        <code>ruby dspace_directory_structure.rb</code>
    </pre>
</section>
<div class='clear'>&nbsp;</div>

<section class="grid_12">
    <h1>6. Batch import to DSpace</h1>
    <p>You need to get your files onto your DSpace server and then run the import command.</p>
</section>
<div class='clear'>&nbsp;</div>
