<section>
    <h1>Instructions</h1>
    <ol>
        <li>Format your CSV as per instructed</li>
        <li>Upload CSV</li>
        <li>Move resulting XML files into your contents directory</li>
        <li>Run provided script</li>
        <li>Batch import into DSpace</li>
    </ol>
</section>

<section>
    <h1> Formatting Instructions</h1>
    <p>Format your CSV file like this. If you need multiple of the same column,
        then duplicate the column
    </p>
</section>

<section>
    <h1> Upload </h1>
    <form action="/upload" method="post" enctype="multipart/form-data" >
        <input type="file" name="file" />
        <input type="submit" value="Upload" />
    </form>
</section>
