<section class="grid_8">
<ol>
    <li>Format</li>
    <p>Format your CSV following these <a href="formatting-rules">rules</a>.</p>
    <li>Upload</li>
    <p>Upload your properly formatted CSV file.</p>
    <form action="/upload" method="post" enctype="multipart/form-data" >
        <input type="file" name="file" />
        <input type="submit" value="Upload" />
    </form>
    <li>Unzip</li>
    <p>Unzip xml_files.zip.</p>
    <li>Move the Files</li>
    <p class="text">Move the contents of the zip file to the folder that has the files you will be adding to DSpace.</p>
    <li>Run the Script</li>
    <p class="text">Now run the script that came with your zip file.</p>
    <pre>
    $ cd <span class="change">/path/to/contents/directory</span>
    $ ruby dspace_directory_structure.rb</pre>
    <li>Upload to the Server</li>
    <small>Specific instructions for the <a href="http://stsrepository.mbl.edu">STSRepository</a> can be found <a href="stsrepository-instructions">here</a>.</small>
    <p class="text">You're going to need to put the resulting folder on your DSpace server. I use SCP and save it to /tmp using this command: </p>
    <pre>
    $ scp -r <span class="change">my_import</span> <span class="change">user@server</span>:/tmp </pre>
    <li>Run the Batch Import Command</li>
    <small>Don't know what the CollectionID is? No idea what to call your map file? Read our <a href="extra-help">extra help</a> section.</small>
    <p class="text">Once you find the DSpace bin directory, change the values and run this command: </p>
    <pre>
    $ ./dspace import ItemImport -a -e <span class="change">your\@email.edu</span> -c <span class="change">collection_id</span> -s /tmp/<span class="change">my_import</span>/ -m <span class="change">my_import_mapfile</span></pre>
</ol>
</section>
<div class="grid_4">
    <img src="ru.png" alt="" />
</div>

<div class='clear'>&nbsp;</div>
