!!! 5
%html
  %head
    %title 
      Dspace Tools 
    %link{ rel: 'stylesheet', href: '/css/app.css', type: 'text/css' }
  %body
    .container
      %h1{ id: 'title' }
        %a{ href: '/' } Dspace Tools
      #login_area
        - if (usr = current_user)
          = "Welcome %s %s" % [usr.firstname, usr.lastname]
          |
          %a{ href: '/logout' } Logout
      #sidebar
        - if (usr = current_user)
          %ul
            %li
              %a{ href: '/' } Home
            %li
              %a{ href: '/bulk_upload' } Bulk Upload
            %li
              %a{ href: '/api_keys' } API Keys
            %li
              %a{ href: '/api_examples' } API Examples
            %li
              %a{ href: 'https://github.com/mbl-cli/DspaceTools/wiki/API' } API Wiki

        
      #content
        = styled_flash
        = yield
    .clear &nbsp;
    #footer
      Developed by
      %a{ href: 'http://asu.edu' } Arizona State University and
      %a{ href: 'http://mbl.edu' } Marine Biological Laboratory 
      |
      %a{ href: 'http://opensource.org/licenses/MIT' } MIT License
      |
      = DspaceTools.last_updated


