!!! 5
%html
  %head
    %title 
      Dspace Tools 
    %link{rel: 'stylesheet', href: '/css/app.css', type: 'text/css'}
  %body
    = styled_flash
    .container
      %h1{ id: 'title' }
        %a{ href: '/' } Dspace Tools
      #login_area
        - if (usr = session[:current_user])
          = "Welcome %s %s" % [usr.firstname, usr.lastname]
          |
          %a{ href: '/logout' } Logout
      %ul{id: 'sidebar'}
        %li
          %a{href: '/'} Home
        %li
          %a{href: '/bulk_upload'} Bulk Upload
        %li
          %a{href: '/api_keys'} API Keys
        %li
          %a{href: 'https://github.com/mbl-cli/DspaceTools/wiki/API'} API Wiki

        
      #content
        = yield
    .clear &nbsp;
    #footer
      Developed by
      %a{ href: 'http://asu.edu' } Arizona State University and
      %a{ href: 'http://mbl.edu' } Marine Biological Laboratory 
      |
      %a{ href: 'http://opensource.org/licenses/MIT' } MIT License


