<html>
    <head>
        <title>CSV to DSpace XML</title>
        <link href="grid.css" rel="stylesheet" />
        <link href="styles.css" rel="stylesheet" />
    </head>
    <body>
        <div id="background">
            <div class="container container_12" id="wrapper">
                <h1 id="title"><a href="/">CSV to DSpace XML</a></h1>
                <%= yield %>
            </div>  
        </div>
        <div class='clear'>&nbsp;</div>
    </body>
</html>
