<html>
    <head>
        <title> History and Philosophy of Science </title>
        <link href="grid.css" rel="stylesheet" />
        <link href="styles.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container container_12" id="wrapper">
            <h1 id="title"><a href="/">History and Philosophy of Science</a></h1>
            <%= yield %>
        </div>  
        <div class='clear'>&nbsp;</div>
    </body>
</html>
