!!! 5
%html
  %head
    %title 
      CSV to DSpace XML
    %body
      = styled_flash
      %div{ :id => "background" }
      #wrapper.container.container_12
        %h1{ :id => "title" }
          %a{ :href => "/" } CSV to DSpace XML
        - if auth.credentials && (session[:current_user] ||= Eperson.where(:email => auth.credentials.first).first)
          = "Welcome " + session[:current_user].firstname + " " + session[:current_user].lastname
        - else
          - authorize('', '')
        = yield
      %div{ :class => 'clear' } &nbsp;
