<section class="grid_8">
<h1>Rules</h1>
<ul>
    <li>The first row of your CSV must be headers.</li>
    <li>The headers must be from the following list.</li>
    <li>The first column's header must be 'Filename'.</li>
    <li>The first column must be populated for each row.</li>
    <li>To upload more than one bitstream at a time, separate the filename in the first column with '|' (e.g. photo1.tif|photo2.tif)</li>
    <li>You can have as many header duplicates as you want so long as they are valid.</li>
    <li>You can zip a directory which contains all your files. It must be one directory and it's name should not start with '.', '_', or '-'</li>
</ul>
</section>
<div class="clear">&nbsp;</div>
<section class="grid_12">
    <h1>Notes</h1>
    <ul>
        <li></li>
        <li>A CSV template of basic headers: <a href="template.csv">template.csv</a>.  Project specific headers are not included in this spreadsheet. </li>
        <li>Please refer to the metadata manual and/or the metadata registry in the HPS repository for further information.</li>
        <li>The headers are simply a DC Element, a space and the DC Qualifier</li>
        <li>The DublinCore spec can be found <a href="http://dublincore.org/documents/dcmi-terms/">here</a></li>
    </ul>
</section>
<div class="clear">&nbsp;</div>
