%section.grid_8
  %p Check the correctness of generated files before 
  %form{ :method => "POST", :action => :submit }
    %input{ :type => :submit, :value => "Send"}
    %a{ :href => "/" } Cancel
      

