h1#title a:link, h1#title a:visited, h1#title a:hover, h1#title a:active {
    color:#000;
}
h1#title {
    text-align: center;
}
html {
    /* background-image: url('grass.png'); */
    /* background-repeat: repeat; */
}
div#background {
    margin: 0;
    padding-top: 2em;
    font-size: 1.5em;
    font-family: Baskerville, "Baskerville old face", "Hoefler Text", Garamond, "Times New Roman", serif;
    /* background-image: url('cheesy.png'); */
    background-repeat: no-repeat;
    min-height: 1024px;
}
div.container {
    background-color: rgba(255,255,255,0.7);
}
body {
    margin: 0;
    padding: 0;
}
h1, ol {
    margin: 0;
}
section {
    margin: 0;
}
ol {
    margin-left: 10px;
}
ol li{
    margin: 0;
    font-weight: bold;
    font-size: 1.5em;
}
p, form, pre {
    margin: .25em 0;
}
code {
    margin-left: 2em;
}
input[type="submit"] {
    display: block;
    margin-top: 5px;
    background: #4c4;
    padding: 6px 14px;
    /* color: hsl(212, 33%, 26%); */
    font-family: Baskerville, "Baskerville old face", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-weight: bold;
    font-size: 14pt;
    /* border-radius: 25px; */
    /* -moz-border-radius: 25px; */
    /* -webkit-box-shadow: 0 1px 1px hsla(209, 32%, 17%, 0.8), */
    /* inset 0 1px 1px hsla(0, 0%, 100%, 0.8); */
    /* -moz-box-shadow: 0 1px 1px hsla(209, 32%, 17%, 0.8), */
    /* inset 0 1px 1px hsla(0, 0%, 100%, 0.8); */
    /* box-shadow: 0 1px 1px hsla(209, 32%, 17%, 0.8), */
    /* inset 0 1px 1px hsla(0, 0%, 100%, 0.8); */
    /* text-shadow:0 1px 0 hsla(0, 0%, 100%, 0.5); */
    cursor: pointer;
}
pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
span.change {
    color: red;
}
ol#collection-id li {
    font-weight: normal;
    font-size: 1em;
}
small {
    padding: 0;
    margin: 0;
    font-size: .55em;
}
