dspace_path: 
tmp_dir: /tmp
remote_tmp_dir: /tmp
remote_login: root@localhost
dspace_repo: http://example.com
session_secret: changeme123
dspacedb:
  development:
    adapter: postgresql
    host: dspace
    database: dspace
    username: dspace
    password: dspace
  test:
    adapter: mysql2
    host: localhost
    database: dspace_api_test
    username: root
    password: 
  production:
    adapter: postgresql
    host: dspace
    database: dspace
    username: dspace
    password: dspace
localdb:
  development:
    adapter: mysql2
    host: localhost
    username: root
    password:
    database: dspace_api_dev
    local_infile: true
  test:
    adapter: mysql2
    host: localhost
    username: root
    password:
    database: dspace_api_test
    local_infile: true
  production:
    adapter: mysql2
    host: localhost
    username: root
    password:
    database: dspace_api
    local_infile: true
