dspace_path: 
tmp_dir: /tmp
remote_tmp_dir: /tmp
remote_login: root@localhost
dspacedb:
  adapter: postgresql
  host: example.com
  database: dspace
  username: johndoe
  password: secret 
localdb:
  development:
    adapter: mysql2
    host: localhost
    username: root
    password:
    database: dspace_api_dev
    local_infile: true
  test:
    adapter: mysql2
    host: localhost
    username: root
    password:
    database: dspace_api_test
    local_infile: true
  production:
    adapter: mysql2
    host: localhost
    username: root
    password:
    database: dspace_api
    local_infile: true
