# to generate a password hash run:
# echo my_secret_password |shasum
# default: jdoe, secret
jdoe: 
  name: John Doe
  email: jdoe@example.com
  default_collection_id: 42
  hash: fc683cd9ed1990ca2ea10b84e5e6fba048c24929
