@import "zen";
$zen-column-count: 7;
$zen-gutter-width: 10px;

@mixin brd($radius){
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin size-params {
  width: 95%;
  margin: 0 auto;
  padding: 10px;
}

html, button, input, select, textarea {                                          
  font-family: "Open sans", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-weight: 400; /* normal */                                                 
  color: #555;                                                                   
  font-smooth:always;                                                            
  -webkit-font-smoothing: antialiased;                                           
  font-smoothing: antialiased;                                                   
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

.container {
  @include zen-grid-container;
  @include brd(15px);
  @include size-params;
  background-color: #9768D1;
  background-image: url(/images/dspace.png);
  background-repeat: no-repeat;
}

#title {
  display: none;
}

#login_area {
  @include zen-grid-item(6, 2);
  font-size: 0.8em;
  color: #fff;
  text-align: right;
  margin-bottom: 80px;
  a { 
    color: #fff; 
    text-decoration: none;
  }

}

#sidebar {
  @include zen-clear;
  @include zen-grid-item(1,1);
  min-width: 100px;
  padding: 10px;
  list-style-type: none;
  li {
    display: block;
    margin-bottom: 0.5em;
  }
  a { color: #fff; }
}

#content {
  @include zen-grid-item(6, 2);
  @include brd(8px);
  width: 75%;
  padding: 1em;
  background-color: #e6d1ff;
}

#footer {
  @include zen-clear;
  @include brd(8px);
  @include size-params;
  background-color: #541C99;
  color: #e6d1ff;
  a { 
    text-decoration: none;
    color: #e6d1ff;
  }
    
}

body {
  background: url(/images/ru_reverse.png) no-repeat bottom right, url(/images/pattern.png);
  height: 10000px;
}
