!!! 5
%html
  %head
    %title 
      Dspace Tools 
    %link{rel: 'stylesheet', href: '/css/app.css', type: 'text/css'}
  %body
    = styled_flash
    #background
      .container
        %h1{ id: 'title' }
          %a{ href: '/' } Dspace Tools
        - if session[:current_user]
          = 'Welcome ' + session[:current_user].firstname + ' ' + session[:current_user].lastname
          %a{ href: '/logout' } logout
        #content
          = yield
    %div{ class: 'clear' } &nbsp;
