<section class="grid_12">
    <h1> Specific Instructions for STSRepository </h1>
    <h2>Upload to the Server</h2>
    <p>The STSRepository accepts SSH over port 3333. That means we have to modify our command to be this:</p>
    <pre>
    $ scp -P 3333 -r <span class="change">my_import</span> <span class="change">user@server</span>:/tmp </pre>
</section>
<div class='clear'>&nbsp;</div>
