%section.grid_8
  %p Upload was successful
  %a{ :href=> DspaceTools::Conf.dspace_repo }Go to repository
  %br
  %a{ :href => "/map_files/" + @map_file } Map file #{@map_file}
  %br
  %a{ :href=>"/" } Another upload

